*{
  margin: 0;
}
.app{
  background-image: linear-gradient(to top,#F8EBAB,white);
  width: fit-content;
}
.logo{
  width: 500px;
  margin-left: 32%;
}
.body{
  display: flex;
}
h3,h4{
  font-family: 'Castoro', serif;
}

.prize{
  height: 800px;
  width: 550px;
}
.prize-photo{
  width: 60rem;
  margin-top: 1em;
}
.large{
  margin-top: 1em;
  width: 70rem;
}
.bottom{
  text-align: center;
}
hr { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
border-color: #F44040;
}
.navigation{
  height: 100px;
  background-color: #F44040;
  margin-top: 2rem;
  padding: 50px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.number{
  display: flex; 
}
a{
  text-decoration: none;
  color: white;
}